@import "tailwindcss";

@theme{
    --color-darkpurple: #5C5470;
    --color-form: #352F44;
    --font-display: "DM Sans", sans-serif;

}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}